.btn {
  padding: 0.75em 1.25em;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: var(--border-radius);
  border: none;
  font-size: 1rem;
}

.btn:disabled {
  background-color: var(--button-bg-disabled-color);
}
