.form {
  width: 85%;
  margin: 0 auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.resetBtn {
  background-color: var(--reset-btn-background);
  color: var(--button-bg-color);
  border: none;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius);
  transition: 0.3s background-color;
  font-size: 1rem;
}

.resetBtn:focus,
.resetBtn:hover {
  background-color: var(--reset-btn-hover-background);
}

.question {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.questionTitle {
  margin-bottom: 0.5em;
}

.questionTitle > span {
  font-weight: 200;
}

.questionTitle > .required {
  font-weight: 700;
}

.btnContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
