.form {
  width: 85%;
  margin: 0 auto;
}

.question {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.questionTitle {
  margin-bottom: 0.5em;
}

.questionTitle > span {
  font-weight: 200;
}

.questionTitle > .required {
  font-weight: 700;
}

.btnContainer {
  width: 97%;
  max-width: 300px;
  margin: 0 auto;
}

.resetBtn {
  background-color: var(--reset-btn-background);
  color: var(--primary-text-color);
  border: none;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius);
  transition: 0.3s background-color;
  font-size: 1rem;
  width: 100%;
  margin-top: 1em;
}

.resetBtn:focus,
.resetBtn:hover {
  background-color: var(--reset-btn-hover-background);
}
