.description {
  font-size: 1rem;
  margin-bottom: 1em;
  text-align: center;
}

.finished {
  text-align: center;
  color: var(--finished-text-color)
}

.alert {
  text-align: center;
  color: var(--alert-text-color);
}
