.container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 0.75em 1.5em;
}