.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 0.75em;
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  text-decoration: none;
  padding: 0.75em 1.5em;
  transition: 0.3s background-color;
  border-radius: var(--border-radius);
}


.btn:hover, .btn:focus {
  background-color: var(--btn-bg-color-hover);
}
