.container {
  margin-top: 2em;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-bottom: 0.5em;
}

.description {
  margin-bottom: 1em;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: 0.3s background-color;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius);
}

.btn:hover, .btn:focus {
  background-color: var(--button-bg-hover-color);
}