.cardNumber {
  margin-bottom: 1em;
  text-align: center;
}

.container {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

.flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--flashcard-text-color);
  font-weight: 500;
  min-height: 200px;
  background-color: var(--flashcard-bg-color);
  padding: 0.75em 1.25em;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.easy {
  background-color: var(--flashcard-bg-easy-color);
}

.medium {
  background-color: var(--flashcard-bg-medium-color);
}

.hard {
  background-color: var(--flashcard-bg-hard-color);
}

.btnContainer  {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.quizBtn {
  font-size: 1.5rem;
  min-width: 70px;
}

.quizBtn:focus, .quizBtn:hover {
  cursor: pointer;
}