/* ===============
RESET CSS
================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============
CSS VARIABLES
================== */
/* --dark-amethyst: #10002bff;
--dark-amethyst-2: #240046ff;
--indigo-ink: #3c096cff;
--indigo-velvet: #5a189aff;
--royal-violet: #7b2cbfff;
--lavender-purple: #9d4eddff;
--mauve-magic: #c77dffff;
--mauve: #e0aaffff; */

:root {
  /* Background Colors */
  --body-bg-color: #10002b;
  --flashcard-bg-color: #fcfcfc;
  --flashcard-bg-easy-color: #c5ecd0;
  --flashcard-bg-medium-color: #f8e1c3;
  --flashcard-bg-hard-color: #fecdcd;
  --selected-bg-color: #9d4edd;
  --selected-bg-hover-color: #7b2cbfff;

  /* Font Colors */
  --primary-text-color: #FCFCFC;
  --flashcard-text-color: #242424;
  --alert-text-color: #F2B5B5;
  --correct-guess: #95FF80;
  --wrong-guess: #FF9999;

  /* Button Colors */
  --btn-bg-color: #7b2cbf;
  --btn-bg-color-hover: #c77dffff;
  --btn-bg-color-disabled: #2e2b30b2;
  --btn-color: #FFFFFF;
  --btn-secondary-bg-color: #e0aaffff;
  --btn-secondary-bg-color-hover: #e0aaffff;
  --btn-secondary-bg-color-disabled: rgba(224, 170, 255, 0.603);
  --btn-secondary-text-color: #050505;
  --reset-btn-background: #6b1919;
  --reset-btn-hover-background: #c44444;

  /* Reusable Properties */
  --border-radius: 10px;
  --input-border-color: #fcfcfc;
  --correct-border-color: rgb(21, 255, 21);
  --wrong-border-color: rgb(245, 0, 0);
}

/* ===============
GENERAL LAYOUT
================== */
body {
  background-color: var(--body-bg-color);
  font-size: 1rem;
  color: var(--primary-text-color);
  line-height: 1.6;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

button {
  display: block;
}

button:hover,
button:focus {
  cursor: pointer;
}

button,
a {
  font-family: inherit;
}

button:disabled {
  cursor: initial;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
  margin-bottom: 2em;
}

/* ===============
TYPOGRAPHY
================== */

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0.25em;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

/* ===============
MEDIA QUERIES
================== */



@media (min-width: 1000px) {
  html {
    font-size: 17px;
  }
}