/* ===============
RESET CSS
================== */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============
CSS VARIABLES
================== */

:root {
  /* Background Colors */
  --body-bg-color: #23295CEE;
  --flashcard-bg-color: #fcfcfc;
  --selected-bg-color: #7a85eaee;
  --selected-bg-hover-color: #7a85ea74;

  /* Font Colors */
  --primary-text-color: #FCFCFC;
  --flashcard-text-color: #242424;

  /* Reusable Properties */
  --border-radius: 10px;
  --flashcard-border: 1px solid #1a1a1a6a;

}


/* ===============
GENERAL LAYOUT
================== */
body {
  background-color: var(--body-bg-color);
  font-size: 1rem;
  color: var(--primary-text-color);
  line-height: 1.6;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

button, a {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
  margin-bottom: 2em;
}


/* ===============
TYPOGRAPHY
================== */

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: var(--flashcard-text-color);
}
